<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;waterfall&gt; | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="waterfall#v0.11.0+ A component providing waterfall layout over list component. Child Components#Notes: The waterfall only supports the following child components: cell, header, refresh, loading and fi">
<meta property="og:type" content="website">
<meta property="og:title" content="&lt;waterfall&gt;">
<meta property="og:url" content="https://weex.apache.org/references/components/waterfall.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="waterfall#v0.11.0+ A component providing waterfall layout over list component. Child Components#Notes: The waterfall only supports the following child components: cell, header, refresh, loading and fi">
<meta property="og:locale" content="en">
<meta property="og:updated_time" content="2018-12-19T13:30:43.902Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="&lt;waterfall&gt;">
<meta name="twitter:description" content="waterfall#v0.11.0+ A component providing waterfall layout over list component. Child Components#Notes: The waterfall only supports the following child components: cell, header, refresh, loading and fi">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="//gw.alicdn.com/tps/TB1XNqxPXXXXXcSXVXXXXXXXXXX-64-63.png">
  
  
    <link rel="stylesheet" href="/css/docsearch.min.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
</head>
<body id="references" class="lang-en">
  
  <script>
    window.PAGE_TYPE = "references";
    window.ROOT = "/"
  </script>
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li class="">
          <a href="/guide">Guide</a>
        </li>
        <li class="current">
          <a href="/references">References</a>
        </li>
        <li class="">
          <a href="/wiki">WiKi</a>
        </li>
        <li class="dropdown ">
          <a>Tools</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a target="_blank" href="http://dotwe.org/vue/">Online Playground</a>
            </li>
            <li>
              <a href="/tools/playground.html">Playground App</a>
            </li>
            <li>
              <a href="/tools/toolkit.html">Weex Toolkit</a>
            </li>
            <li>
              <a href="/tools/helpers.html">Helpers</a>
            </li>
            <li>
              <a href="https://github.com/weex-cli/vscode-weex" target="_blank">VSCode Extension</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:;">Community</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="/contributing.html">How to Contribute</a>
            </li>
            <li>
              <a href="/bug-report-guidelines.html">Bug Report Guidelines</a>
            </li>
            <li>
              <a href="/development-process.html">Development Process</a>
            </li>
            <li>
              <a href="/resources.html">Resources</a>
            </li>
            <li>
              <a href="/releasenote.html">Release Note</a>
            </li>
            <li>
              <a href="/who-is-using-weex.html">Who is using Weex?</a>
            </li>
            <li>
              <a href="/examples.html">Examples</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="tools">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-header" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="/references/components/waterfall.html" data-lang="en">English</a>
              </li>
              <li>
                <a href="/cn/references/components/waterfall.html" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
      <ul>
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>

  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-sidebar" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
      


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/references/weex-variable.html" class="sidebar-link  ">Weex Variable</a>
                </li>
              
            
              
                <li>
                  <a href="/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/references/components/index.html">Build-in Components</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (deprecated)</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/waterfall.html" class="sidebar-link current ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/references/modules/index.html">Build-in Modules</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/dom.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/custom_font.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>

  

<div class="main-content">
  <div class="article-wrapper page-layout with-chapter">
    
      <div class="doc-nav">
        


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/references/weex-variable.html" class="sidebar-link  ">Weex Variable</a>
                </li>
              
            
              
                <li>
                  <a href="/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/references/components/index.html">Build-in Components</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (deprecated)</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/waterfall.html" class="sidebar-link current ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/references/modules/index.html">Build-in Modules</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/dom.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/custom_font.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

        <div class="sponsor">
            <a class="sponsor-poster" target="_blank" href="https://render.alipay.com/p/s/taobaonpm_click/weex_banner_click">
              <img src="https://render.alipay.com/p/s/taobaonpm_click/weex_banner" alt="" width="180px">
            </a>
            <div class="sponsor-title">本站点由阿里云赞助支持</div>
          </div>
      </div>
    
    

<article class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;waterfall&gt;
      </h1>
    
  
  <!-- <time class="article-date" datetime="2018-12-19T13:30:43.902Z">Updated time: 19/12/2018</time> -->
</header>

    <html><head></head><body><h1 class="article-heading"><span id="waterfall">waterfall</span><a href="#waterfall" class="header-anchor">#</a></h1><p><span class="weex-version">v0.11.0+</span></p>
<p>A component providing waterfall layout over list component.</p>
<h3 class="article-heading"><span id="child-components">Child Components</span><a href="#child-components" class="header-anchor">#</a></h3><p>Notes: The waterfall only supports the following child components: cell, header, refresh, loading and fixed-position components. Other kinds of components will not be guaranteed to be displayed correctly.</p>
<ul>
<li>cell: presents the content for a single data item in waterfall</li>
<li>header: components that need to stretch across multiple columns. It can be sticky by using css position.</li>
</ul>
<h3 class="article-heading"><span id="attributes">Attributes</span><a href="#attributes" class="header-anchor">#</a></h3><ul>
<li><strong>column-width</strong> : This property describes the width of columns in waterfall elements.<ul>
<li><code>auto</code>: means that the column width will be determined by other properties(e.g., column-count, if it has a non-auto value).</li>
<li><code>&lt;length&gt;</code>: describes the optimal column width. The actual column width may be wider (to fill the available space), or narrower (only if the available space is smaller than the specified column width). Specified values must be greater than 0.</li>
</ul>
</li>
<li><strong>column-count</strong>:This property describes the number of columns of a multicol element.<ul>
<li><code>auto</code>: means that the number of columns will be determined by other properties (e.g., column-width, if it has a non-auto value).</li>
<li><code>&lt;integer&gt;</code>: describes the optimal number of columns into which the content of the element will be flowed. Values must be greater than 0. If both column-width and column-count have non-auto values, the integer value describes the maximum number of columns.</li>
</ul>
</li>
<li><strong>column-gap</strong>:sets the gap between columns. if <code>normal</code> is specified,  the gap will be <code>32</code>.</li>
<li><strong>left-gap</strong>:sets the gap between left edge and left cell. if <code>none</code> is specified,  the gap will be <code>0</code><span class="api-version">v0.19+</span>.</li>
<li><strong>right-gap</strong>:sets the gap between right edge and right most cell. if <code>none</code> is specified,  the gap will be <code>0</code><span class="api-version">v0.19+</span>.</li>
</ul>
<p>To see other attributes in list,  please checkout <a href="./list.html">List Component Attributes</a></p>
<h3 class="article-heading"><span id="styles">Styles</span><a href="#styles" class="header-anchor">#</a></h3><p>common styles: check out <a href="/wiki/common-styles.html">common styles for components</a></p>
<ul>
<li>support flexbox related styles</li>
<li>support box model related styles</li>
<li>support position related styles</li>
<li>support opacity, background-color etc.</li>
</ul>
<h3 class="article-heading"><span id="events">Events</span><a href="#events" class="header-anchor">#</a></h3><p>common events: check out the <a href="/wiki/common-events.html">common events</a></p>
<ul>
<li>support onclick event. Check out <a href="/wiki/common-events.html">common events</a></li>
<li>support onappear / ondisappear event. Check out <a href="/wiki/common-events.html">common events</a></li>
</ul>
<h3 class="article-heading"><span id="api">API</span><a href="#api" class="header-anchor">#</a></h3><p>All subcomponents in waterfall support the scrollToElement API in <a href="../modules/dom.html">dom module</a></p>
<h3 class="article-heading"><span id="example">Example</span><a href="#example" class="header-anchor">#</a></h3><p><a href="http://dotwe.org/vue/7a9195643e9e8da352b0d879cdbe68c0" target="_blank" rel="noopener">waterfall example</a></p>
</body></html>
    <div class="article-tips">
      <p class="tips-text">
        <a target="_blank" href="https://github.com/apache/incubator-weex-site/edit/master/source/references/components/waterfall.md">Edit this page on GitHub</a>
      </p>
    </div>
  </div>
  
  <footer id="footer">
  <div class="footer-inner">
    <div class="disclaimer">
      <a target="_blank" href="https://incubator.apache.org/">
        <img src="//gw.alicdn.com/tfs/TB1pTBZQFXXXXX9XXXXXXXXXXXX-794-280.png" width="100px" alt="Apache Incubator">
      </a>
      <p>
        <span class="title">Disclaimer:</span>
        <span>Apache Weex is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.</span>
    </div>
    <p class="copyright">
      <img src="//gw.alicdn.com/tfs/TB1bg8SQFXXXXcHXXXXXXXXXXXX-85-170.png" height="16px" alt="Apache"><span>Copyright(c) 2017 The Apache Software Foundation. Licensed under the </span>
      <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
    </p>
  </div>
  <div style="display: none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1261496509&web_id=1261496509" language="JavaScript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104559823-1', 'auto');
  ga('send', 'pageview');

</script>
</div>

</footer>

</article>

  </div>
</div>


  <script src="/js/reqwest.js"></script>
  <script src="/js/common.js"></script>
  
    
    
    <script src="/js/docsearch.min.js"></script>
    <script type="text/javascript">
    docsearch({
      apiKey: "a6896fe3619315a7f04e9a76bbbbbfcb",
      indexName: "weex",
      inputSelector: '#search-input-header',
      algoliaOptions: {
        hitsPerPage: 10
      }
    });
    </script>
  
</body>
</html>
