@import "../variable.scss";

$footer-bg: #F0F0F0;
$footer-text-color: #A0A0A0;

#footer {
  width: 100%;
  padding: 10px 40px 15px;
  background: $footer-bg;
  font-size: 10px;
  font-weight: 200;
  color: $footer-text-color;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);

  a { text-decoration: underline; }
  p { margin: 0; }

  .disclaimer {
    max-width: 1200px;
    line-height: 1.5;
    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .copyright {
    margin-top: 15px;
    a, a:focus { color: #999; }
    a:active { color: #888; }
  }
}

