@import "variable.scss";
.who-is-using {

  background: $bg-white; 
  color: $text-black;

  .sketch-content {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;

    .user-logo {
      width: 200px;
      height: 200px;
      margin: 1px;
      overflow: hidden;
      position: relative;
      transition-duration: .3s;
      transition-property: box-shadow;

      h3 {
        font-size: 1em;
        margin-top: 30px;
        text-align: center;
        margin-top: 155px;
      }

      &:hover {
        position: relative;
        z-index: 999;
        box-shadow: 0px 1px 12px 0 rgba(0,0,0,0.54);
      }

      &:hover .user-info {
        opacity: .9;
      }
    }

    .tmall-logo {
      background: $bg-white url("../images/tmall.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .aliyun-logo {
      background: $bg-white url("../images/aliyun.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .taobao-logo {
      background: $bg-white url("../images/taobao.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .alibaba-logo {
      background: $bg-white url("../images/alibaba.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .cainiao-logo {
      background: $bg-white url("../images/cainiao.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .xiami-logo {
      background: $bg-white url("../images/xiami.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }

    .youku-logo {
      background: $bg-white url("../images/youku.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
    .ding-logo {
      background: $bg-white url("../images/ding.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
    .taopiaopiao-logo {
      background: $bg-white url("../images/taopiaopiao.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
    .fliggy-logo {
      background: $bg-white url("../images/fliggy.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
    .juhuasuan-logo {
      background: $bg-white url("../images/juhuasuan.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
    .qianniu-logo {
      background: $bg-white url("../images/qianniu.png") 50% 50% / 64px 64px no-repeat;
      background-origin: content-box;
    }
  }

  .user-info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: $bg-white;
    text-align: center;
    color: $text-light-black;
    transition-duration: .4s;
    transition-property: opacity;

    h4 {
      font-size: 1em;
      margin-bottom: .98em;
    }

    p {
      @include lines(6);
      font-size: .8em;
    }
  }

  .more {
    flex: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-top: 1em;
      color: $text-white;
      text-decoration: underline;
      font-weight: lighter;
    }
  }
}