// colors
$accentColor = #00B4FF
$textColor = #2C3E50
$borderColor = #eaecef
$codeBgColor = #F8F9FB
$arrowBgColor = #ccc
$codeTextColor = #e96900

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 53rem

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem

@import '~@temp/override.styl'
