/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.article-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3.5em; }
  .article-header h1 {
    font-size: 2em;
    color: #333;
    margin: 0; }
    .article-header h1 .article-title:hover {
      color: #00BDFF; }
  .article-header .article-date {
    position: absolute;
    bottom: -25px;
    left: 0px;
    font-size: .9em;
    color: #999; }
