<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;switch&gt; (已废弃) | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="v0.6.1+  废弃: 本组件已不推荐业务上使用。由于各端实现不一致且端上定制能力较弱，不适合作为内置组件实现，因此建议开发者通过 weex 上层能力自行定制该组件.  &amp;lt;switch&amp;gt; 是个类似 checkbox 的 UI  注意: switch 组件的外观在三个平台（iOS, Android, Web）稍有不同，这和各平台的 UI 风格有关。     Android Web iO">
<meta property="og:type" content="website">
<meta property="og:title" content="&lt;switch&gt; (已废弃)">
<meta property="og:url" content="https://weex.apache.org/cn/references/components/switch.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="v0.6.1+  废弃: 本组件已不推荐业务上使用。由于各端实现不一致且端上定制能力较弱，不适合作为内置组件实现，因此建议开发者通过 weex 上层能力自行定制该组件.  &amp;lt;switch&amp;gt; 是个类似 checkbox 的 UI  注意: switch 组件的外观在三个平台（iOS, Android, Web）稍有不同，这和各平台的 UI 风格有关。     Android Web iO">
<meta property="og:locale" content="cn">
<meta property="og:image" content="https://img.alicdn.com/tfs/TB1xIEqnfDH8KJjy1XcXXcpdXXa-314-242.png">
<meta property="og:image" content="https://img.alicdn.com/tfs/TB1ugX2k5qAXuNjy1XdXXaYcVXa-308-276.png">
<meta property="og:image" content="https://img.alicdn.com/tfs/TB1t3X2k5qAXuNjy1XdXXaYcVXa-318-270.png">
<meta property="og:updated_time" content="2018-11-11T13:54:10.640Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="&lt;switch&gt; (已废弃)">
<meta name="twitter:description" content="v0.6.1+  废弃: 本组件已不推荐业务上使用。由于各端实现不一致且端上定制能力较弱，不适合作为内置组件实现，因此建议开发者通过 weex 上层能力自行定制该组件.  &amp;lt;switch&amp;gt; 是个类似 checkbox 的 UI  注意: switch 组件的外观在三个平台（iOS, Android, Web）稍有不同，这和各平台的 UI 风格有关。     Android Web iO">
<meta name="twitter:image" content="https://img.alicdn.com/tfs/TB1xIEqnfDH8KJjy1XcXXcpdXXa-314-242.png">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="//gw.alicdn.com/tps/TB1XNqxPXXXXXcSXVXXXXXXXXXX-64-63.png">
  
  
    <link rel="stylesheet" href="/css/docsearch.min.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
</head>
<body id="references" class="lang-cn">
  
  <script>
    window.PAGE_TYPE = "references";
    window.ROOT = "/"
  </script>
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li class="">
          <a href="/cn/guide">教程</a>
        </li>
        <li class="current">
          <a href="/cn/references">手册</a>
        </li>
        <li class="">
          <a href="/cn/wiki">WiKi</a>
        </li>
        <li class="dropdown ">
          <a>工具</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a target="_blank" href="http://dotwe.org/vue/">在线编写代码</a>
            </li>
            <li>
              <a href="/cn/tools/playground.html">Playground 应用</a>
            </li>
            <li>
              <a href="/cn/tools/toolkit.html">Weex Toolkit</a>
            </li>
            <li>
              <a href="/cn/tools/helpers.html">辅助工具</a>
            </li>
            <li>
              <a href="https://github.com/weex-cli/vscode-weex" target="_blank">VSCode 插件</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:;">社区</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="/cn/contributing.html">如何参与贡献</a>
            </li>
            <li>
              <a href="/cn/bug-report-guidelines.html">bug 报告指南</a>
            </li>
            <li>
              <a href="/cn/development-process.html">开发流程</a>
            </li>
            <li>
              <a href="/cn/resources.html">资源</a>
            </li>
            <li>
              <a href="/cn/releasenote.html">版本发布历史</a>
            </li>
            <li>
              <a href="/cn/who-is-using-weex.html">谁在使用 Weex</a>
            </li>
            <li>
              <a href="/cn/examples.html">例子</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="tools">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-header" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="/references/components/switch.html" data-lang="en">English</a>
              </li>
              <li>
                <a href="/cn/references/components/switch.html" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
      <ul>
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>

  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-sidebar" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
      


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link current ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link  ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>

  

<div class="main-content">
  <div class="article-wrapper page-layout with-chapter">
    
      <div class="doc-nav">
        


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link current ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link  ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

        <div class="sponsor">
            <a class="sponsor-poster" target="_blank" href="https://render.alipay.com/p/s/taobaonpm_click/weex_banner_click">
              <img src="https://render.alipay.com/p/s/taobaonpm_click/weex_banner" alt="" width="180px">
            </a>
            <div class="sponsor-title">本站点由阿里云赞助支持</div>
          </div>
      </div>
    
    

<article class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;switch&gt; (已废弃)
      </h1>
    
  
  <!-- <time class="article-date" datetime="2018-11-11T13:54:10.640Z">Updated time: 11/11/2018</time> -->
</header>

    <html><head></head><body><p><span class="weex-version">v0.6.1+</span></p>
<blockquote>
<p><strong>&#x5E9F;&#x5F03;:</strong> &#x672C;&#x7EC4;&#x4EF6;&#x5DF2;&#x4E0D;&#x63A8;&#x8350;&#x4E1A;&#x52A1;&#x4E0A;&#x4F7F;&#x7528;&#x3002;&#x7531;&#x4E8E;&#x5404;&#x7AEF;&#x5B9E;&#x73B0;&#x4E0D;&#x4E00;&#x81F4;&#x4E14;&#x7AEF;&#x4E0A;&#x5B9A;&#x5236;&#x80FD;&#x529B;&#x8F83;&#x5F31;&#xFF0C;&#x4E0D;&#x9002;&#x5408;&#x4F5C;&#x4E3A;&#x5185;&#x7F6E;&#x7EC4;&#x4EF6;&#x5B9E;&#x73B0;&#xFF0C;&#x56E0;&#x6B64;&#x5EFA;&#x8BAE;&#x5F00;&#x53D1;&#x8005;&#x901A;&#x8FC7; weex &#x4E0A;&#x5C42;&#x80FD;&#x529B;&#x81EA;&#x884C;&#x5B9A;&#x5236;&#x8BE5;&#x7EC4;&#x4EF6;.</p>
</blockquote>
<p><code>&lt;switch&gt;</code> &#x662F;&#x4E2A;&#x7C7B;&#x4F3C; checkbox &#x7684; UI</p>
<blockquote>
<p><strong>&#x6CE8;&#x610F;:</strong> switch &#x7EC4;&#x4EF6;&#x7684;&#x5916;&#x89C2;&#x5728;&#x4E09;&#x4E2A;&#x5E73;&#x53F0;&#xFF08;iOS, Android, Web&#xFF09;&#x7A0D;&#x6709;&#x4E0D;&#x540C;&#xFF0C;&#x8FD9;&#x548C;&#x5404;&#x5E73;&#x53F0;&#x7684; UI &#x98CE;&#x683C;&#x6709;&#x5173;&#x3002;</p>
</blockquote>
<table>
<thead>
<tr>
<th>Android</th>
<th>Web</th>
<th>iOS</th>
</tr>
</thead>
<tbody>
<tr>
<td><img src="https://img.alicdn.com/tfs/TB1xIEqnfDH8KJjy1XcXXcpdXXa-314-242.png" alt="Android"></td>
<td><img src="https://img.alicdn.com/tfs/TB1ugX2k5qAXuNjy1XdXXaYcVXa-308-276.png" alt="Web"></td>
<td><img src="https://img.alicdn.com/tfs/TB1t3X2k5qAXuNjy1XdXXaYcVXa-318-270.png" alt="iOS"></td>
</tr>
</tbody>
</table>
<blockquote>
<p><strong>&#x6CE8;&#x610F;:</strong> switch &#x4E0D;&#x652F;&#x6301;&#x4E00;&#x4E9B;&#x6D89;&#x53CA;&#x5E03;&#x5C40;&#x7684;&#x6837;&#x5F0F;&#xFF0C; &#x5982; <code>width</code>, <code>height</code>, <code>margin</code> &#x7B49;&#xFF0C;&#x4E0B;&#x9762;&#x6709;&#x8BE6;&#x7EC6;&#x7684;&#x6837;&#x5F0F;&#x4E0D;&#x652F;&#x6301;&#x5217;&#x8868;.</p>
</blockquote>
<h2 class="article-heading"><span id="ji-ben-yong-fa">&#x57FA;&#x672C;&#x7528;&#x6CD5;</span><a href="#ji-ben-yong-fa" class="header-anchor">#</a></h2><figure class="highlight html"><table><tbody><tr><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">switch</span>&gt;</span><span class="tag">&lt;/<span class="name">switch</span>&gt;</span></span><br></pre></td></tr></tbody></table></figure>
<p>&#x53C2;&#x8003;<a href="http://dotwe.org/vue/00f4b68b3a86360df1f38728fd0b4a1f" target="_blank" rel="noopener">&#x793A;&#x4F8B;</a>.</p>
<h2 class="article-heading"><span id="te-xing">&#x7279;&#x6027;</span><a href="#te-xing" class="header-anchor">#</a></h2><table>
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Value</th>
<th>Default Value</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>checked</code></td>
<td>Boolean</td>
<td>true / false</td>
<td>false</td>
</tr>
<tr>
<td><code>disabled</code></td>
<td>Boolean</td>
<td>true / false</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 class="article-heading"><span id="checked"><code>checked</code></span><a href="#checked" class="header-anchor">#</a></h3><p>&#x8868;&#x793A;&#x7EC4;&#x4EF6;&#x7684;&#x9009;&#x4E2D;&#x72B6;&#x6001;&#x3002;</p>
<h3 class="article-heading"><span id="disabled"><code>disabled</code></span><a href="#disabled" class="header-anchor">#</a></h3><p>&#x8868;&#x793A;&#x7EC4;&#x4EF6;&#x662F;&#x5426;&#x5904;&#x4E8E;&#x4E0D;&#x53EF;&#x4EA4;&#x4E92;&#x72B6;&#x6001;&#x3002;</p>
<h2 class="article-heading"><span id="zu-jian-fang-fa">&#x7EC4;&#x4EF6;&#x65B9;&#x6CD5;</span><a href="#zu-jian-fang-fa" class="header-anchor">#</a></h2><p>&#x65E0;&#x3002;</p>
<h2 class="article-heading"><span id="shi-jian">&#x4E8B;&#x4EF6;</span><a href="#shi-jian" class="header-anchor">#</a></h2><ul>
<li><p><code>change</code>&#xFF1A;&#x6539;&#x53D8;&#x5F00;&#x5173;&#x72B6;&#x6001;&#x65F6;&#x89E6;&#x53D1;&#x8BE5;&#x4E8B;&#x4EF6;&#x3002;</p>
<p>&#x4E8B;&#x4EF6;&#x4E2D; event &#x5BF9;&#x8C61;&#x5C5E;&#x6027;&#xFF1A;</p>
<ul>
<li><code>value</code>: &#x7EC4;&#x4EF6;&#x5E03;&#x5C14;&#x503C;&#x771F;&#x6216;&#x5047;&#x3002;</li>
<li><code>timestamp</code>: &#x4E8B;&#x4EF6;&#x7684;&#x65F6;&#x95F4;&#x6233;&#x3002;</li>
</ul>
</li>
<li><p>&#x901A;&#x7528;&#x4E8B;&#x4EF6;</p>
<p>&#x652F;&#x6301;&#x6240;&#x6709;&#x901A;&#x7528;&#x4E8B;&#x4EF6;&#xFF1A;</p>
<ul>
<li><code>click</code></li>
<li><code>longpress</code></li>
<li><code>appear</code></li>
<li><code>disappear</code></li>
</ul>
<p>&#x67E5;&#x770B; <a href="/cn/wiki/common-events.html">&#x901A;&#x7528;&#x4E8B;&#x4EF6;</a></p>
</li>
</ul>
<h2 class="article-heading"><span id="yang-shi">&#x6837;&#x5F0F;</span><a href="#yang-shi" class="header-anchor">#</a></h2><blockquote>
<p><strong>&#x6CE8;&#x610F;:</strong> &#x67D0;&#x4E9B;&#x6837;&#x5F0F;&#x5728; switch &#x7EC4;&#x4EF6;&#x4E0A;&#x4E0D;&#x80FD;&#x4F7F;&#x7528;&#x6216;&#x4F7F;&#x7528;&#x65E0;&#x6548;&#xFF0C;&#x5B83;&#x4EEC;&#x662F;&#xFF1A;</p>
</blockquote>
<ul>
<li><code>width</code></li>
<li><code>height</code></li>
<li><code>min-width</code></li>
<li><code>min-height</code></li>
<li><code>margin</code> &#x548C; <code>margin-xxx</code></li>
<li><code>padding</code> &#x548C; <code>padding-xxx</code></li>
<li><code>border</code> &#x548C; <code>border-xxx</code></li>
</ul>
<blockquote>
<p><strong>&#x6CE8;&#x610F;:</strong> &#x5982;&#x679C; <code>&lt;switch&gt;</code> &#x7684;&#x5BB9;&#x5668;&#x6CA1;&#x6709;&#x8BBE;&#x7F6E;&#x4E3A; <code>align-items&#xFF1A;flex-start</code>&#xFF0C;&#x5219; Android &#x4E2D;&#x7684;&#x5F00;&#x5173;&#x5C06;&#x88AB;&#x62C9;&#x4F38;&#x3002;</p>
</blockquote>
<ul>
<li><p>&#x901A;&#x7528;&#x6837;&#x5F0F;</p>
<ul>
<li><code>flexbox</code> &#x5E03;&#x5C40;</li>
<li><code>position</code></li>
<li><code>opacity</code></li>
<li><code>background-color</code></li>
</ul>
</li>
</ul>
<p>&#x67E5;&#x770B; <a href="/cn/wiki/common-styles.html">&#x7EC4;&#x4EF6;&#x901A;&#x7528;&#x6837;&#x5F0F;</a></p>
<h2 class="article-heading"><span id="shi-yong-shuo-ming">&#x4F7F;&#x7528;&#x8BF4;&#x660E;</span><a href="#shi-yong-shuo-ming" class="header-anchor">#</a></h2><ul>
<li>&#x4E0D;&#x8981;&#x8BBE;&#x7F6E;&#x6837;&#x5F0F; <code>width</code> and <code>height</code>&#xFF0C;&#x56E0;&#x4E3A;&#x5B83;&#x4EEC;&#x7528;&#x5728; <code>&lt;switch&gt;</code> &#x4E0A;&#x4E0D;&#x4F1A;&#x5F71;&#x54CD;&#x8BE5;&#x7EC4;&#x4EF6;&#x7684;&#x5916;&#x89C2;&#x548C;&#x5E03;&#x5C40;.</li>
<li><code>&lt;switch&gt;</code> &#x4E0D;&#x652F;&#x6301;&#x5185;&#x5D4C;&#x5B50;&#x7EC4;&#x4EF6;.</li>
</ul>
<h2 class="article-heading"><span id="shi-li">&#x793A;&#x4F8B;</span><a href="#shi-li" class="header-anchor">#</a></h2><ul>
<li><a href="http://dotwe.org/vue/00f4b68b3a86360df1f38728fd0b4a1f" target="_blank" rel="noopener">&#x7B80;&#x5355;&#x793A;&#x4F8B;</a></li>
<li><a href="http://dotwe.org/vue/9068f28ba80e871d89dabb9fccff5cc6" target="_blank" rel="noopener">&#x5404;&#x79CD;&#x72B6;&#x6001;&#x7684; switch</a></li>
</ul>
</body></html>
    <div class="article-tips">
      <p class="tips-text">
        <a target="_blank" href="https://github.com/apache/incubator-weex-site/edit/master/source/cn/references/components/switch.md">Edit this page on GitHub</a>
      </p>
    </div>
  </div>
  
  <footer id="footer">
  <div class="footer-inner">
    <div class="disclaimer">
      <a target="_blank" href="https://incubator.apache.org/">
        <img src="//gw.alicdn.com/tfs/TB1pTBZQFXXXXX9XXXXXXXXXXXX-794-280.png" width="100px" alt="Apache Incubator">
      </a>
      <p>
        <span class="title">Disclaimer:</span>
        <span>Apache Weex is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.</span>
    </div>
    <p class="copyright">
      <img src="//gw.alicdn.com/tfs/TB1bg8SQFXXXXcHXXXXXXXXXXXX-85-170.png" height="16px" alt="Apache"><span>Copyright(c) 2017 The Apache Software Foundation. Licensed under the </span>
      <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
    </p>
  </div>
  <div style="display: none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1261496509&web_id=1261496509" language="JavaScript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104559823-1', 'auto');
  ga('send', 'pageview');

</script>
</div>

</footer>

</article>

  </div>
</div>


  <script src="/js/reqwest.js"></script>
  <script src="/js/common.js"></script>
  
    
    
    <script src="/js/docsearch.min.js"></script>
    <script type="text/javascript">
    docsearch({
      apiKey: "db5b2379e5ffbc33509585c35ccabba8",
      indexName: "weex_cn",
      inputSelector: '#search-input-header',
      algoliaOptions: {
        hitsPerPage: 10
      }
    });
    </script>
  
</body>
</html>
