<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;waterfall&gt; | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="waterfall#v0.11.0+ 提供瀑布流布局的组件 子组件#注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.  cell: 瀑布流中的每个元素 header: 主要用于表示横跨多列的元素，可以通过css的position属性设置为sticky  特性# show-s">
<meta property="og:type" content="website">
<meta property="og:title" content="&lt;waterfall&gt;">
<meta property="og:url" content="https://weex.apache.org/cn/references/components/waterfall.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="waterfall#v0.11.0+ 提供瀑布流布局的组件 子组件#注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.  cell: 瀑布流中的每个元素 header: 主要用于表示横跨多列的元素，可以通过css的position属性设置为sticky  特性# show-s">
<meta property="og:locale" content="cn">
<meta property="og:updated_time" content="2018-11-11T13:54:10.641Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="&lt;waterfall&gt;">
<meta name="twitter:description" content="waterfall#v0.11.0+ 提供瀑布流布局的组件 子组件#注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.  cell: 瀑布流中的每个元素 header: 主要用于表示横跨多列的元素，可以通过css的position属性设置为sticky  特性# show-s">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="//gw.alicdn.com/tps/TB1XNqxPXXXXXcSXVXXXXXXXXXX-64-63.png">
  
  
    <link rel="stylesheet" href="/css/docsearch.min.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
</head>
<body id="references" class="lang-cn">
  
  <script>
    window.PAGE_TYPE = "references";
    window.ROOT = "/"
  </script>
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li class="">
          <a href="/cn/guide">教程</a>
        </li>
        <li class="current">
          <a href="/cn/references">手册</a>
        </li>
        <li class="">
          <a href="/cn/wiki">WiKi</a>
        </li>
        <li class="dropdown ">
          <a>工具</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a target="_blank" href="http://dotwe.org/vue/">在线编写代码</a>
            </li>
            <li>
              <a href="/cn/tools/playground.html">Playground 应用</a>
            </li>
            <li>
              <a href="/cn/tools/toolkit.html">Weex Toolkit</a>
            </li>
            <li>
              <a href="/cn/tools/helpers.html">辅助工具</a>
            </li>
            <li>
              <a href="https://github.com/weex-cli/vscode-weex" target="_blank">VSCode 插件</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:;">社区</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="/cn/contributing.html">如何参与贡献</a>
            </li>
            <li>
              <a href="/cn/bug-report-guidelines.html">bug 报告指南</a>
            </li>
            <li>
              <a href="/cn/development-process.html">开发流程</a>
            </li>
            <li>
              <a href="/cn/resources.html">资源</a>
            </li>
            <li>
              <a href="/cn/releasenote.html">版本发布历史</a>
            </li>
            <li>
              <a href="/cn/who-is-using-weex.html">谁在使用 Weex</a>
            </li>
            <li>
              <a href="/cn/examples.html">例子</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="tools">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-header" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="/references/components/waterfall.html" data-lang="en">English</a>
              </li>
              <li>
                <a href="/cn/references/components/waterfall.html" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
      <ul>
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>

  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-sidebar" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
      


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link current ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>

  

<div class="main-content">
  <div class="article-wrapper page-layout with-chapter">
    
      <div class="doc-nav">
        


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link current ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

        <div class="sponsor">
            <a class="sponsor-poster" target="_blank" href="https://render.alipay.com/p/s/taobaonpm_click/weex_banner_click">
              <img src="https://render.alipay.com/p/s/taobaonpm_click/weex_banner" alt="" width="180px">
            </a>
            <div class="sponsor-title">本站点由阿里云赞助支持</div>
          </div>
      </div>
    
    

<article class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;waterfall&gt;
      </h1>
    
  
  <!-- <time class="article-date" datetime="2018-11-11T13:54:10.641Z">Updated time: 11/11/2018</time> -->
</header>

    <html><head></head><body><h1 class="article-heading"><span id="waterfall">waterfall</span><a href="#waterfall" class="header-anchor">#</a></h1><p><span class="weex-version">v0.11.0+</span></p>
<p>&#x63D0;&#x4F9B;&#x7011;&#x5E03;&#x6D41;&#x5E03;&#x5C40;&#x7684;&#x7EC4;&#x4EF6;</p>
<h3 class="article-heading"><span id="zi-zu-jian">&#x5B50;&#x7EC4;&#x4EF6;</span><a href="#zi-zu-jian" class="header-anchor">#</a></h3><p>&#x6CE8;&#x610F;:  &#x548C;list&#x4E00;&#x6837;, waterfall &#x53EA;&#x652F;&#x6301;&#x7279;&#x5B9A;&#x7C7B;&#x578B;&#x7684;&#x7EC4;&#x4EF6;: cell, header, refresh, loading &#x548C; fixed-position &#x7EC4;&#x4EF6;.</p>
<ul>
<li><code>cell</code>: &#x7011;&#x5E03;&#x6D41;&#x4E2D;&#x7684;&#x6BCF;&#x4E2A;&#x5143;&#x7D20;</li>
<li><code>header</code>: &#x4E3B;&#x8981;&#x7528;&#x4E8E;&#x8868;&#x793A;&#x6A2A;&#x8DE8;&#x591A;&#x5217;&#x7684;&#x5143;&#x7D20;&#xFF0C;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;css&#x7684;position&#x5C5E;&#x6027;&#x8BBE;&#x7F6E;&#x4E3A;sticky</li>
</ul>
<h3 class="article-heading"><span id="te-xing">&#x7279;&#x6027;</span><a href="#te-xing" class="header-anchor">#</a></h3><ul>
<li><strong>show-scrollbar</strong> : &#x53EF;&#x9009;&#x503C;&#x4E3A; true/ false&#xFF0C;&#x9ED8;&#x8BA4;&#x503C;&#x4E3A; true&#x3002;&#x63A7;&#x5236;&#x662F;&#x5426;&#x51FA;&#x73B0;&#x6EDA;&#x52A8;&#x6761;&#x3002;</li>
<li><strong>column-width</strong> : &#x63CF;&#x8FF0;&#x7011;&#x5E03;&#x6D41;&#x6BCF;&#x4E00;&#x5217;&#x7684;&#x5217;&#x5BBD;<ul>
<li><code>auto</code>: &#x610F;&#x5473;&#x7740;&#x5217;&#x5BBD;&#x662F;&#x88AB;&#x5176;&#x4ED6;&#x5C5E;&#x6027;&#x6240;&#x51B3;&#x5B9A;&#x7684;(&#x6BD4;&#x5982; column-count)</li>
<li><code>&lt;length&gt;</code>: &#x6700;&#x4F73;&#x5217;&#x5BBD;&#xFF0C;&#x5B9E;&#x9645;&#x7684;&#x5217;&#x5BBD;&#x53EF;&#x80FD;&#x4F1A;&#x66F4;&#x5BBD;(&#x9700;&#x8981;&#x586B;&#x5145;&#x5269;&#x4F59;&#x7684;&#x7A7A;&#x95F4;)&#xFF0C; &#x6216;&#x8005;&#x66F4;&#x7A84;(&#x5982;&#x679C;&#x5269;&#x4F59;&#x7A7A;&#x95F4;&#x6BD4;&#x5217;&#x5BBD;&#x8FD8;&#x8981;&#x5C0F;)&#x3002; &#x8BE5;&#x503C;&#x5FC5;&#x987B;&#x5927;&#x4E8E;0</li>
</ul>
</li>
<li><strong>column-count</strong>: &#x63CF;&#x8FF0;&#x7011;&#x5E03;&#x6D41;&#x7684;&#x5217;&#x6570;<ul>
<li><code>auto</code>: &#x610F;&#x5473;&#x7740;&#x5217;&#x6570;&#x662F;&#x88AB;&#x5176;&#x4ED6;&#x5C5E;&#x6027;&#x6240;&#x51B3;&#x5B9A;&#x7684;(&#x6BD4;&#x5982; column-width)</li>
<li><code>&lt;integer&gt;</code>: &#x6700;&#x4F73;&#x5217;&#x6570;&#xFF0C;column-width &#x548C;  column-count &#x90FD;&#x6307;&#x5B9A;&#x975E;0&#x503C;&#xFF0C; &#x5219; column-count &#x4EE3;&#x8868;&#x6700;&#x5927;&#x5217;&#x6570;&#x3002;</li>
</ul>
</li>
<li><strong>column-gap</strong>: &#x5217;&#x4E0E;&#x5217;&#x7684;&#x95F4;&#x9699;. &#x5982;&#x679C;&#x6307;&#x5B9A;&#x4E86; <code>normal</code> &#xFF0C;&#x5219;&#x5BF9;&#x5E94; <code>32</code>.</li>
<li><strong>left-gap</strong>: &#x5DE6;&#x8FB9;cell&#x548C;&#x5217;&#x8868;&#x7684;&#x95F4;&#x9699;. &#x5982;&#x679C;&#x672A;&#x6307;&#x5B9A; &#xFF0C;&#x5219;&#x5BF9;&#x5E94; <code>0</code><span class="api-version">v0.19+</span>.</li>
<li><strong>right-gap</strong>: &#x53F3;&#x8FB9;cell&#x548C;&#x5217;&#x8868;&#x7684;&#x95F4;&#x9699;. &#x5982;&#x679C;&#x672A;&#x6307;&#x5B9A;&#xFF0C;&#x5219;&#x5BF9;&#x5E94; <code>0</code><span class="api-version">v0.19+</span>.</li>
</ul>
<p>&#x5176;&#x4ED6;&#x652F;&#x6301;&#x7684;&#x5C5E;&#x6027;&#x53C2;&#x89C1; <a href="./list.html">List Component Attributes</a></p>
<h3 class="article-heading"><span id="yang-shi">&#x6837;&#x5F0F;</span><a href="#yang-shi" class="header-anchor">#</a></h3><p>&#x901A;&#x7528;&#x6837;&#x5F0F;&#xFF1A;&#x652F;&#x6301;&#x6240;&#x6709;&#x901A;&#x7528;&#x6837;&#x5F0F;</p>
<ul>
<li>&#x76D2;&#x6A21;&#x578B;</li>
<li><code>flexbox</code> &#x5E03;&#x5C40;</li>
<li><code>position</code></li>
<li><code>opacity</code></li>
<li><code>background-color</code></li>
</ul>
<p>&#x67E5;&#x770B; <a href="/cn/wiki/common-styles.html">&#x7EC4;&#x4EF6;&#x901A;&#x7528;&#x6837;&#x5F0F;</a></p>
<h3 class="article-heading"><span id="shi-jian">&#x4E8B;&#x4EF6;</span><a href="#shi-jian" class="header-anchor">#</a></h3><ul>
<li><p>&#x901A;&#x7528;&#x4E8B;&#x4EF6;</p>
<p>&#x652F;&#x6301;&#x6240;&#x6709;&#x901A;&#x7528;&#x4E8B;&#x4EF6;&#xFF1A;</p>
<ul>
<li><code>click</code></li>
<li><code>longpress</code></li>
<li><code>appear</code></li>
<li><code>disappear</code></li>
</ul>
<p>&#x67E5;&#x770B; <a href="/cn/wiki/common-events.html">&#x901A;&#x7528;&#x4E8B;&#x4EF6;</a></p>
</li>
</ul>
<h3 class="article-heading"><span id="api">API</span><a href="#api" class="header-anchor">#</a></h3><p>&#x6EDA;&#x52A8;&#x5230;&#x5217;&#x8868;&#x67D0;&#x4E2A;&#x6307;&#x5B9A;&#x9879;&#x662F;&#x5E38;&#x89C1;&#x9700;&#x6C42;&#xFF0C;<code>&lt;waterfall&gt;</code> &#x62D3;&#x5C55;&#x4E86;&#x8BE5;&#x529F;&#x80FD;&#x652F;&#x6301;&#x6EDA;&#x52A8;&#x5230;&#x6307;&#x5B9A; <code>&lt;cell&gt;</code> &#x6216;&#x8005; <code>&lt;header&gt;</code>&#x3002;&#x901A;&#x8FC7; <code>dom</code> module &#x8BBF;&#x95EE;&#xFF0C;&#x66F4;&#x591A;&#x4FE1;&#x606F;&#x53EF;&#x53C2;&#x8003; <a href="../modules/dom.html">dom module</a> &#x3002;</p>
<h3 class="article-heading"><span id="shi-li">&#x793A;&#x4F8B;</span><a href="#shi-li" class="header-anchor">#</a></h3><p><a href="http://dotwe.org/vue/7a9195643e9e8da352b0d879cdbe68c0" target="_blank" rel="noopener">waterfall example</a></p>
</body></html>
    <div class="article-tips">
      <p class="tips-text">
        <a target="_blank" href="https://github.com/apache/incubator-weex-site/edit/master/source/cn/references/components/waterfall.md">Edit this page on GitHub</a>
      </p>
    </div>
  </div>
  
  <footer id="footer">
  <div class="footer-inner">
    <div class="disclaimer">
      <a target="_blank" href="https://incubator.apache.org/">
        <img src="//gw.alicdn.com/tfs/TB1pTBZQFXXXXX9XXXXXXXXXXXX-794-280.png" width="100px" alt="Apache Incubator">
      </a>
      <p>
        <span class="title">Disclaimer:</span>
        <span>Apache Weex is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.</span>
    </div>
    <p class="copyright">
      <img src="//gw.alicdn.com/tfs/TB1bg8SQFXXXXcHXXXXXXXXXXXX-85-170.png" height="16px" alt="Apache"><span>Copyright(c) 2017 The Apache Software Foundation. Licensed under the </span>
      <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
    </p>
  </div>
  <div style="display: none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1261496509&web_id=1261496509" language="JavaScript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104559823-1', 'auto');
  ga('send', 'pageview');

</script>
</div>

</footer>

</article>

  </div>
</div>


  <script src="/js/reqwest.js"></script>
  <script src="/js/common.js"></script>
  
    
    
    <script src="/js/docsearch.min.js"></script>
    <script type="text/javascript">
    docsearch({
      apiKey: "db5b2379e5ffbc33509585c35ccabba8",
      indexName: "weex_cn",
      inputSelector: '#search-input-header',
      algoliaOptions: {
        hitsPerPage: 10
      }
    });
    </script>
  
</body>
</html>
