<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;web&gt; | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="v0.5+ &amp;lt;web&amp;gt; 用于在 weex 页面中显示由 src 属性指定的页面内容。您还可以使用 webview 模块来控制 WebView 的行为，例如回退、前进和重新加载，更多信息请参见 webview module。 基本用法# 注意： &amp;lt;web&amp;gt; 不支持任何嵌套的子组件，并且必须指定 width 和 height 的样式属性，否则将不起作用。  &amp;lt;web sr">
<meta property="og:type" content="website">
<meta property="og:title" content="&lt;web&gt;">
<meta property="og:url" content="https://weex.apache.org/cn/references/components/web.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="v0.5+ &amp;lt;web&amp;gt; 用于在 weex 页面中显示由 src 属性指定的页面内容。您还可以使用 webview 模块来控制 WebView 的行为，例如回退、前进和重新加载，更多信息请参见 webview module。 基本用法# 注意： &amp;lt;web&amp;gt; 不支持任何嵌套的子组件，并且必须指定 width 和 height 的样式属性，否则将不起作用。  &amp;lt;web sr">
<meta property="og:locale" content="cn">
<meta property="og:updated_time" content="2018-11-11T13:54:10.641Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="&lt;web&gt;">
<meta name="twitter:description" content="v0.5+ &amp;lt;web&amp;gt; 用于在 weex 页面中显示由 src 属性指定的页面内容。您还可以使用 webview 模块来控制 WebView 的行为，例如回退、前进和重新加载，更多信息请参见 webview module。 基本用法# 注意： &amp;lt;web&amp;gt; 不支持任何嵌套的子组件，并且必须指定 width 和 height 的样式属性，否则将不起作用。  &amp;lt;web sr">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="//gw.alicdn.com/tps/TB1XNqxPXXXXXcSXVXXXXXXXXXX-64-63.png">
  
  
    <link rel="stylesheet" href="/css/docsearch.min.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
</head>
<body id="references" class="lang-cn">
  
  <script>
    window.PAGE_TYPE = "references";
    window.ROOT = "/"
  </script>
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li class="">
          <a href="/cn/guide">教程</a>
        </li>
        <li class="current">
          <a href="/cn/references">手册</a>
        </li>
        <li class="">
          <a href="/cn/wiki">WiKi</a>
        </li>
        <li class="dropdown ">
          <a>工具</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a target="_blank" href="http://dotwe.org/vue/">在线编写代码</a>
            </li>
            <li>
              <a href="/cn/tools/playground.html">Playground 应用</a>
            </li>
            <li>
              <a href="/cn/tools/toolkit.html">Weex Toolkit</a>
            </li>
            <li>
              <a href="/cn/tools/helpers.html">辅助工具</a>
            </li>
            <li>
              <a href="https://github.com/weex-cli/vscode-weex" target="_blank">VSCode 插件</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="javascript:;">社区</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="/cn/contributing.html">如何参与贡献</a>
            </li>
            <li>
              <a href="/cn/bug-report-guidelines.html">bug 报告指南</a>
            </li>
            <li>
              <a href="/cn/development-process.html">开发流程</a>
            </li>
            <li>
              <a href="/cn/resources.html">资源</a>
            </li>
            <li>
              <a href="/cn/releasenote.html">版本发布历史</a>
            </li>
            <li>
              <a href="/cn/who-is-using-weex.html">谁在使用 Weex</a>
            </li>
            <li>
              <a href="/cn/examples.html">例子</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="tools">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-header" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="/references/components/web.html" data-lang="en">English</a>
              </li>
              <li>
                <a href="/cn/references/components/web.html" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
      <ul>
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>

  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-sidebar" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
      


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link  ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link current ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>

  

<div class="main-content">
  <div class="article-wrapper page-layout with-chapter">
    
      <div class="doc-nav">
        


<div class="summary">
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    

    
      <li>
          <h3 class="chapter-title">
            
            
              <span class="sidebar-link">API</span>
            
          </h3>
          

        
          <ul class="chapter">
            
              
                <li>
                  <a href="/cn/references/android-apis.html" class="sidebar-link  ">Android APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/ios-apis.html" class="sidebar-link  ">iOS APIs</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/weex-variable.html" class="sidebar-link  ">Weex 实例变量</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/js-service.html" class="sidebar-link  ">JS Service</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/broadcast-channel.html" class="sidebar-link  ">BroadcastChannel</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/components/index.html">内置组件</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/cell.html" class="sidebar-link  ">&lt;cell&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/recycle-list.html" class="sidebar-link  ">&lt;recycle-list&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/loading.html" class="sidebar-link  ">&lt;loading&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/refresh.html" class="sidebar-link  ">&lt;refresh&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt; (已废弃)</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/waterfall.html" class="sidebar-link  ">&lt;waterfall&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/web.html" class="sidebar-link current ">&lt;web&gt;</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/components/richtext.html" class="sidebar-link  ">&lt;richtext&gt;</a>
                </li>
              
            
          </ul>
        
      </li>
    
      <li>
          <h3 class="chapter-title">
            
            
              <a class="sidebar-link" href="/cn/references/modules/index.html">内置模块</a>
            
          </h3>
          

        
          <ul class="chapter">
            
              
            
              
                <li>
                  <a href="/cn/references/modules/animation.html" class="sidebar-link  ">animation</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/custom_font.html" class="sidebar-link  ">custom font</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/dom.html" class="sidebar-link  ">dom</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/meta.html" class="sidebar-link  ">meta</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/modal.html" class="sidebar-link  ">modal</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/picker.html" class="sidebar-link  ">picker</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/storage.html" class="sidebar-link  ">storage</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/stream.html" class="sidebar-link  ">stream</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/websocket.html" class="sidebar-link  ">webSocket</a>
                </li>
              
            
              
                <li>
                  <a href="/cn/references/modules/webview.html" class="sidebar-link  ">webview</a>
                </li>
              
            
          </ul>
        
      </li>
    
  </ul>
</div>

        <div class="sponsor">
            <a class="sponsor-poster" target="_blank" href="https://render.alipay.com/p/s/taobaonpm_click/weex_banner_click">
              <img src="https://render.alipay.com/p/s/taobaonpm_click/weex_banner" alt="" width="180px">
            </a>
            <div class="sponsor-title">本站点由阿里云赞助支持</div>
          </div>
      </div>
    
    

<article class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;web&gt;
      </h1>
    
  
  <!-- <time class="article-date" datetime="2018-11-11T13:54:10.641Z">Updated time: 11/11/2018</time> -->
</header>

    <html><head></head><body><p><span class="weex-version">v0.5+</span></p>
<p><code>&lt;web&gt;</code> &#x7528;&#x4E8E;&#x5728; weex &#x9875;&#x9762;&#x4E2D;&#x663E;&#x793A;&#x7531; <code>src</code> &#x5C5E;&#x6027;&#x6307;&#x5B9A;&#x7684;&#x9875;&#x9762;&#x5185;&#x5BB9;&#x3002;&#x60A8;&#x8FD8;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <code>webview</code> &#x6A21;&#x5757;&#x6765;&#x63A7;&#x5236; WebView &#x7684;&#x884C;&#x4E3A;&#xFF0C;&#x4F8B;&#x5982;&#x56DE;&#x9000;&#x3001;&#x524D;&#x8FDB;&#x548C;&#x91CD;&#x65B0;&#x52A0;&#x8F7D;&#xFF0C;&#x66F4;&#x591A;&#x4FE1;&#x606F;&#x8BF7;&#x53C2;&#x89C1; <a href="../modules/webview.html">webview module</a>&#x3002;</p>
<h2 class="article-heading"><span id="ji-ben-yong-fa">&#x57FA;&#x672C;&#x7528;&#x6CD5;</span><a href="#ji-ben-yong-fa" class="header-anchor">#</a></h2><blockquote>
<p><strong>&#x6CE8;&#x610F;&#xFF1A;</strong> <code>&lt;web&gt;</code> &#x4E0D;&#x652F;&#x6301;&#x4EFB;&#x4F55;&#x5D4C;&#x5957;&#x7684;&#x5B50;&#x7EC4;&#x4EF6;&#xFF0C;&#x5E76;&#x4E14;&#x5FC5;&#x987B;&#x6307;&#x5B9A; <code>width</code> &#x548C; <code>height</code> &#x7684;&#x6837;&#x5F0F;&#x5C5E;&#x6027;&#xFF0C;&#x5426;&#x5219;&#x5C06;&#x4E0D;&#x8D77;&#x4F5C;&#x7528;&#x3002;</p>
</blockquote>
<figure class="highlight html"><table><tbody><tr><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">web</span> <span class="attr">src</span>=<span class="string">&quot;https://vuejs.org&quot;</span>&gt;</span><span class="tag">&lt;/<span class="name">web</span>&gt;</span></span><br></pre></td></tr></tbody></table></figure>
<p>&#x53C2;&#x89C1;<a href="http://dotwe.org/vue/81da1f0129dfc72e1666cfd4b90f20ae" target="_blank" rel="noopener">&#x793A;&#x4F8B;</a>.</p>
<h2 class="article-heading"><span id="shu-xing">&#x5C5E;&#x6027;</span><a href="#shu-xing" class="header-anchor">#</a></h2><table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x503C;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>src</code></td>
<td>String</td>
<td>{URL}</td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 class="article-heading"><span id="src"><code>src</code></span><a href="#src" class="header-anchor">#</a></h3><p>&#x8981;&#x52A0;&#x8F7D;&#x7684;&#x7F51;&#x9875;&#x5185;&#x5BB9;&#x7684; URL&#x3002;&#x60A8;&#x53EF;&#x4EE5;&#x6307;&#x5B9A;&#x4E00;&#x4E2A;&#x57FA;&#x4E8E; bundle URL &#x7684;&#x76F8;&#x5BF9; URL&#xFF0C;&#x5B83;&#x5C06;&#x88AB;&#x91CD;&#x5199;&#x4E3A;&#x771F;&#x5B9E;&#x8D44;&#x6E90; URL&#xFF08;&#x672C;&#x5730;&#x6216;&#x8FDC;&#x7A0B;&#xFF09;&#x3002;&#x53E6;&#x8BF7;&#x53C2;&#x9605;&#xFF1A;<a href="../../guide/advanced/path.html">Path</a>&#x3002;</p>
<h2 class="article-heading"><span id="shi-jian">&#x4E8B;&#x4EF6;</span><a href="#shi-jian" class="header-anchor">#</a></h2><p>&#x53EA;&#x652F;&#x6301;<strong><a href="../../wiki/common-events.html">&#x516C;&#x5171;&#x4E8B;&#x4EF6;</a></strong>&#x4E2D;&#x7684; <code>appear</code> &#x548C; <code>disappear</code> &#x4E8B;&#x4EF6;&#x3002;</p>
<h3 class="article-heading"><span id="pagestart">pagestart</span><a href="#pagestart" class="header-anchor">#</a></h3><p><code>pagestart</code> &#x4E8B;&#x4EF6;&#xFF0C;&#x4F1A;&#x5728; Web &#x9875;&#x9762;&#x5F00;&#x59CB;&#x52A0;&#x8F7D;&#x65F6;&#x8C03;&#x7528;&#x3002;</p>
<p><strong>&#x4E8B;&#x4EF6;&#x5BF9;&#x8C61;</strong>&#xFF1A;</p>
<ul>
<li><code>url</code>: {String} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x7684; URL&#x3002;</li>
</ul>
<h3 class="article-heading"><span id="pagefinish">pagefinish</span><a href="#pagefinish" class="header-anchor">#</a></h3><p><code>pagefinish</code> &#x4E8B;&#x4EF6;&#xFF0C;&#x4F1A;&#x5728; Web &#x9875;&#x9762;&#x5B8C;&#x6210;&#x52A0;&#x8F7D;&#x65F6;&#x8C03;&#x7528;&#x3002;</p>
<p><strong>&#x4E8B;&#x4EF6;&#x5BF9;&#x8C61;</strong>&#xFF1A;</p>
<ul>
<li><code>url</code>: {String} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x7684; URL&#x3002;</li>
<li><code>canGoBack</code>: {Boolean} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x662F;&#x5426;&#x53EF;&#x4EE5;&#x56DE;&#x9000;&#x3002;</li>
<li><code>canGoForward</code>: {Boolean} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x662F;&#x5426;&#x53EF;&#x4EE5;&#x524D;&#x8FDB;&#x3002;</li>
<li><code>title</code>: {String} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x7684;&#x6807;&#x9898;&#xFF08;&#x4EC5;&#x9650; iOS &#x5E73;&#x53F0;&#xFF09;&#x3002;</li>
</ul>
<h3 class="article-heading"><span id="error">error</span><a href="#error" class="header-anchor">#</a></h3><p><code>error</code> &#x4E8B;&#x4EF6;&#xFF0C;&#x4F1A;&#x5728; Web &#x9875;&#x9762;&#x52A0;&#x8F7D;&#x5931;&#x8D25;&#x65F6;&#x8C03;&#x7528;&#x3002;</p>
<h3 class="article-heading"><span id="receivedtitle">receivedtitle</span><a href="#receivedtitle" class="header-anchor">#</a></h3><p><code>error</code> &#x4E8B;&#x4EF6;&#xFF0C;&#x4F1A;&#x5728; Web &#x9875;&#x9762;&#x7684;&#x6807;&#x9898;&#x53D1;&#x751F;&#x6539;&#x53D8;&#x65F6;&#x8C03;&#x7528;&#xFF08;&#x4EC5;&#x9650; Android &#x5E73;&#x53F0;&#xFF09;&#x3002;</p>
<p><strong>&#x4E8B;&#x4EF6;&#x5BF9;&#x8C61;</strong>&#xFF1A;</p>
<ul>
<li><code>url</code>: {String} &#x5F53;&#x524D; Web &#x9875;&#x9762;&#x7684; URL&#x3002;</li>
</ul>
<h3 class="article-heading"><span id="chu-li-lt-web-gt-shi-jian">&#x5904;&#x7406; <code>&lt;web&gt;</code> &#x4E8B;&#x4EF6;</span><a href="#chu-li-lt-web-gt-shi-jian" class="header-anchor">#</a></h3><p>&#x5728; <code>&lt;web&gt;</code> &#x4E0A;&#x7ED1;&#x5B9A;&#x4E8B;&#x4EF6;&#xFF1A;</p>
<figure class="highlight html"><table><tbody><tr><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">web</span> @<span class="attr">pagestart</span>=<span class="string">&quot;onPageStart&quot;</span> @<span class="attr">pagefinish</span>=<span class="string">&quot;onPageFinish&quot;</span> @<span class="attr">error</span>=<span class="string">&quot;onError&quot;</span> <span class="attr">src</span>=<span class="string">&quot;https://vuejs.org&quot;</span>&gt;</span><span class="tag">&lt;/<span class="name">web</span>&gt;</span></span><br></pre></td></tr></tbody></table></figure>
<p>&#x6DFB;&#x52A0;&#x4E8B;&#x4EF6; handler&#xFF1A;</p>
<figure class="highlight js"><table><tbody><tr><td class="code"><pre><span class="line"><span class="keyword">export</span> <span class="keyword">default</span> {</span><br><span class="line">  methods: {</span><br><span class="line">    onPageStart (event) {</span><br><span class="line">      <span class="comment">// page start load</span></span><br><span class="line">    },</span><br><span class="line">    onPageFinish (event) {</span><br><span class="line">      <span class="comment">// page finish load</span></span><br><span class="line">    },</span><br><span class="line">    onError (event) {</span><br><span class="line">      <span class="comment">// page load error</span></span><br><span class="line">    },</span><br><span class="line">  }</span><br><span class="line">}</span><br></pre></td></tr></tbody></table></figure>
<p>&#x53C2;&#x89C1;<a href="http://dotwe.org/vue/f9606de73fe386d554217371c4d60d03" target="_blank" rel="noopener">&#x793A;&#x4F8B;</a>&#x3002;</p>
<h2 class="article-heading"><span id="yang-shi">&#x6837;&#x5F0F;</span><a href="#yang-shi" class="header-anchor">#</a></h2><p>&#x652F;&#x6301;<strong><a href="../../wiki/common-styles.html">&#x516C;&#x5171;&#x6837;&#x5F0F;</a></strong>&#x3002;</p>
<h2 class="article-heading"><span id="shi-yong-zhu-yi-shi-xiang">&#x4F7F;&#x7528;&#x6CE8;&#x610F;&#x4E8B;&#x9879;</span><a href="#shi-yong-zhu-yi-shi-xiang" class="header-anchor">#</a></h2><ul>
<li>&#x5FC5;&#x987B;&#x6307;&#x5B9A; <code>&lt;web&gt;</code> &#x7684; <code>width</code> &#x548C; <code>height</code> &#x6837;&#x5F0F;&#x3002;</li>
<li><code>&lt;web&gt;</code> &#x4E0D;&#x80FD;&#x5305;&#x542B;&#x4EFB;&#x4F55;&#x5D4C;&#x5957;&#x7684;&#x5B50;&#x7EC4;&#x4EF6;&#x3002;</li>
<li>&#x60A8;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <a href="../modules/webview.html">webview module</a> &#x6765;&#x63A7;&#x5236; <code>&lt;web&gt;</code> &#x7EC4;&#x4EF6;&#xFF0C;&#x53C2;&#x89C1;<a href="http://dotwe.org/vue/a3d902040b79ab38d1ffd753366fb939" target="_blank" rel="noopener">&#x793A;&#x4F8B;</a>&#x3002;</li>
</ul>
<h2 class="article-heading"><span id="shi-li">&#x793A;&#x4F8B;</span><a href="#shi-li" class="header-anchor">#</a></h2><ul>
<li><a href="http://dotwe.org/vue/a3d902040b79ab38d1ffd753366fb939" target="_blank" rel="noopener">&#x6D4F;&#x89C8;&#x5668;&#x793A;&#x4F8B;</a></li>
</ul>
</body></html>
    <div class="article-tips">
      <p class="tips-text">
        <a target="_blank" href="https://github.com/apache/incubator-weex-site/edit/master/source/cn/references/components/web.md">Edit this page on GitHub</a>
      </p>
    </div>
  </div>
  
  <footer id="footer">
  <div class="footer-inner">
    <div class="disclaimer">
      <a target="_blank" href="https://incubator.apache.org/">
        <img src="//gw.alicdn.com/tfs/TB1pTBZQFXXXXX9XXXXXXXXXXXX-794-280.png" width="100px" alt="Apache Incubator">
      </a>
      <p>
        <span class="title">Disclaimer:</span>
        <span>Apache Weex is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.</span>
    </div>
    <p class="copyright">
      <img src="//gw.alicdn.com/tfs/TB1bg8SQFXXXXcHXXXXXXXXXXXX-85-170.png" height="16px" alt="Apache"><span>Copyright(c) 2017 The Apache Software Foundation. Licensed under the </span>
      <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
    </p>
  </div>
  <div style="display: none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1261496509&web_id=1261496509" language="JavaScript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104559823-1', 'auto');
  ga('send', 'pageview');

</script>
</div>

</footer>

</article>

  </div>
</div>


  <script src="/js/reqwest.js"></script>
  <script src="/js/common.js"></script>
  
    
    
    <script src="/js/docsearch.min.js"></script>
    <script type="text/javascript">
    docsearch({
      apiKey: "db5b2379e5ffbc33509585c35ccabba8",
      indexName: "weex_cn",
      inputSelector: '#search-input-header',
      algoliaOptions: {
        hitsPerPage: 10
      }
    });
    </script>
  
</body>
</html>
