/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#playground {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.playground-wrapper {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px; }
  .playground-wrapper .left {
    width: 320px;
    padding: 20px;
    float: left; }
  .playground-wrapper .qr-code {
    float: left;
    width: 120px; }
  .playground-wrapper .download {
    margin: 30px 0; }
  .playground-wrapper .links {
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 10px; }
    .playground-wrapper .links .link {
      display: inline-block;
      text-align: center;
      width: 130px;
      height: 30px;
      line-height: 30px;
      border: 1px solid currentColor;
      border-radius: 20px; }
    .playground-wrapper .links #android-link {
      margin-top: 40px; }
