/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
/***********************
* Reset
***********************/
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;
  overflow-y: auto;*/
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #333;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_i0r1euwhok5oecdi.eot?t=1481812721653");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_i0r1euwhok5oecdi.eot?t=1481812721653#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_i0r1euwhok5oecdi.woff?t=1481812721653") format("woff"), url("//at.alicdn.com/t/font_i0r1euwhok5oecdi.ttf?t=1481812721653") format("truetype"), url("//at.alicdn.com/t/font_i0r1euwhok5oecdi.svg?t=1481812721653#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-nav:before {
  content: "\e60c"; }

.icon-github:before {
  content: "\e69f"; }

.icon-search:before {
  content: "\e605"; }

.icon-arrow:before {
  content: "\e623"; }

.icon-close:before {
  content: "\e780"; }

.icon-arrow-small:before {
  content: "\e67c"; }

.icon-baichuan:before {
  content: "\e602"; }

.icon-back2top:before {
  content: "\e604"; }

a {
  cursor: pointer;
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #999; }

img {
  max-width: 100%;
  vertical-align: middle; }

p {
  font-weight: normal;
  margin: 0 0 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.1em; }

blockquote {
  margin: 0;
  padding: 1em 0 1px 20px;
  border-left: 5px solid #ddd; }

/***********************
* Common style
***********************/
.button {
  display: inline-block;
  font-size: 1.05em;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
  background: #ff3e33;
  border: #ff3e33 1px solid;
  border-radius: 2em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16); }
  .button:hover {
    background: #d63f36;
    border: #d63f36 1px solid; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.imgbox {
  width: 100%;
  height: 100%; }
  .imgbox img {
    width: 100%; }

.dropdown {
  position: relative; }
  .dropdown .dropdown-toggle {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #333;
    text-decoration: none; }
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    float: left;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999ba4;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }
    .dropdown .dropdown-menu > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap; }
      .dropdown .dropdown-menu > li > a:hover {
        color: #333;
        text-decoration: none;
        background-color: #f5f5f5; }
  .dropdown:hover .dropdown-menu {
    display: block; }

a.current {
  border-bottom: 0.2em solid #088bc3; }

.scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto; }

table td, table th {
  padding: 6px 13px;
  border: 1px solid #ddd; }

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc; }

table tr:nth-child(2n) {
  background-color: #f8f8f8; }

table th {
  font-weight: 700; }

.api-version {
  font-size: 12px;
  padding: 1px 7px;
  background: #088bc3;
  color: #fff;
  border-radius: 20px; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#header {
  width: 100%;
  height: 72px;
  padding: 0 40px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  #header ul, #header li, #header ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #header #logo {
    display: block; }
    #header #logo img {
      width: 110px;
      height: 60px; }
  #header .navbar {
    height: 72px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #header #mobile-nav {
    display: none;
    height: 72px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #header #mobile-nav #logo {
      margin: 0 auto; }
    #header #mobile-nav .btn-menu {
      position: absolute;
      left: 20px;
      top: 25px; }
  #header .main-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .main-nav > ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 72px;
      line-height: 72px; }
    #header .main-nav li > a {
      font-size: 1.3em;
      color: #333; }
  #header .links > li > a:hover {
    border-bottom: 0.2em solid #088bc3; }
  #header .links > li + li {
    margin-left: 30px; }
  #header .info li {
    margin-left: 30px; }
  #header .tools > li {
    margin-left: 30px;
    position: relative; }
  #header .tools .search-form {
    width: 120px; }
  #header .dropdown .dropdown-menu {
    width: 200px;
    left: -60%;
    top: 98%;
    border: none;
    padding: 10px 0; }
    #header .dropdown .dropdown-menu a {
      font-size: 15px;
      padding: 5px 10px; }
  #header .select-lang {
    width: 90px; }
  #header .select-lang .dropdown-toggle {
    color: #00293D; }
  #header .select-lang .dropdown-menu {
    width: 105px;
    left: 0; }
  #header .caret {
    display: inline-block;
    margin-left: 2px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #999ba4; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#sidebar {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 90px 20px 10px;
  background: #fff;
  box-shadow: -3px 0 20px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  #sidebar .sidebar-menu {
    z-index: 999;
    overflow-y: auto; }
    #sidebar .sidebar-menu .btn-close-sidebar {
      cursor: pointer;
      display: block;
      font-size: 1.5em;
      position: absolute;
      top: 18px;
      left: 18px;
      background: transparent;
      border: none; }
      #sidebar .sidebar-menu .btn-close-sidebar:hover {
        border: none;
        color: #777; }
  #sidebar .main-nav {
    font-size: 1.3em;
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #sidebar .main-nav li {
      margin-bottom: 25px;
      color: #333; }
    #sidebar .main-nav a {
      color: #333; }
      #sidebar .main-nav a:hover {
        border-bottom: 0.2em solid #088bc3; }
    #sidebar .main-nav .subnav {
      font-size: .8em;
      list-style: none;
      padding-left: 20px; }
  #sidebar .summary {
    display: block;
    margin-top: 20px; }
  #sidebar .results-panel {
    width: 300px;
    left: -20px;
    right: 0; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#footer {
  width: 100%;
  padding: 20px 65px;
  margin: 0;
  background: #fff;
  border-top: 1px solid #DDDDDD; }
  #footer a {
    text-decoration: underline; }
  #footer .ali-logo {
    width: 83px;
    height: 41px;
    float: left; }
    #footer .ali-logo img {
      width: 100%; }
  #footer .select-lang {
    display: none;
    width: 105px;
    height: 25px;
    line-height: 25px;
    float: right; }
  #footer .select-lang .dropdown-toggle {
    color: #00293D;
    border: 1px solid #999ba4; }
  #footer .select-lang .dropdown-menu {
    width: 105px;
    border: 1px solid #999ba4; }
  #footer .row {
    font-size: 12px;
    margin: 8px 0; }
  #footer .row .icon-baichuan {
    font-size: 14px;
    color: #333; }
  #footer .row .cell {
    float: left;
    color: #999;
    margin: 0 20px 10px 0; }
  #footer .caret {
    display: inline-block;
    margin-left: 2px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #999ba4; }
  #footer .disclaimer {
    max-width: 800px;
    line-height: 150%; }
  #footer hr {
    border: 0;
    border-top: 1px solid #e6e6e6; }
  #footer .disclaimer .title {
    font-weight: bold;
    margin-bottom: 10px; }

code, pre {
  color: #abb2bf;
  font-size: 14px; }

code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 0 5px;
  border-radius: 5px; }

pre {
  padding: 10px 15px;
  overflow-x: auto;
  line-height: 22px; }

pre code {
  border: none;
  background: #353639;
  display: block;
  padding: 0;
  -moz-tab-size: 2;
  tab-size: 2; }

.highlight, pre {
  background: #353639;
  padding: 10px 15px;
  color: #abb2bf;
  overflow: auto;
  margin: 20px 0;
  border-radius: 5px; }

.highlight table {
  margin: 0 !important;
  border: 0; }

.highlight table td, .highlight table th, .highlight tr {
  background: #353639;
  border: 0;
  padding: 0; }

.highlight figcaption {
  margin: -5px 0 5px;
  font-size: .9em;
  color: #abb2bf; }

.highlight figcaption:after, .highlight figcaption:before {
  content: "";
  display: table; }

.highlight figcaption:after {
  clear: both; }

.highlight figcaption a {
  float: right; }

.highlight pre {
  padding: 0;
  border: none;
  background: none;
  margin: 0; }

.highlight .line {
  height: 22px; }

pre .comment, pre .title {
  color: #5c6370; }

pre .attribute, pre .css .class, pre .css .id, pre .css .pseudo, pre .html .doctype, pre .regexp, pre .ruby .constant, pre .tag, pre .variable, pre .xml .doctype, pre .xml .pi, pre .xml .tag .title {
  color: #e06c75; }

pre .built_in, pre .constant, pre .literal, pre .number, pre .params, pre .preprocessor {
  color: #d19a66; }

pre .class, pre .css .rules .attribute, pre .header, pre .inheritance, pre .ruby .class .title, pre .ruby .symbol, pre .string, pre .value, pre .xml .cdata {
  color: #98c379; }

pre .css .hexcolor {
  color: #3e999f; }

pre .coffeescript .title, pre .function, pre .javascript .title, pre .perl .sub, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword {
  color: #c678dd; }

pre .javascript .function, pre .keyword {
  color: #c678dd; }

pre .attr {
  color: #61afef; }

/*LANDINGPAGE*/
/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.scene-container {
  max-width: 1680px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.scene {
  position: relative;
  height: 100%;
  height: calc(100% - 72px); }
  .scene h2 {
    font-family: "Gill Sans";
    font-weight: 400;
    font-size: 2.64em;
    margin: .7em 0;
    text-align: center; }
  .scene ul, .scene li, .scene ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.horizon .scene-container, .edge .scene-container {
  max-width: 900px;
  padding-bottom: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.horizon .textbox {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em; }

.horizon .textbox p {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.horizon .sketch-content {
  padding: 0 7em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.horizon .inner-box {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2em; }

.header {
  height: 100%;
  position: relative;
  background: #088bc3;
  color: #fff; }
  .header #slider {
    margin-top: 73px;
    height: 100%;
    height: calc(100% - 72px); }
  .header .swiper-container {
    max-width: 900px;
    height: 100%; }
  .header .swiper-controller {
    max-width: 900px;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .header .swiper-button-next, .header .swiper-button-prev {
    background: transparent !important;
    color: #fff;
    line-height: 44px; }
  .header .swiper-button-next {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .header .slide-content {
    max-width: 900px;
    margin: auto;
    height: 100%; }
    .header .slide-content .page-title {
      font-size: 2.3em;
      font-family: "Gill Sans";
      width: 500px;
      text-align: center;
      position: absolute;
      top: 70px;
      left: 50%;
      margin-left: -250px;
      line-height: 120%; }
    .header .slide-content .btn-group {
      position: absolute;
      bottom: 30%;
      left: 50%;
      margin-left: -11.222em; }
      .header .slide-content .btn-group > .button:nth-child(2) {
        margin-left: 20px; }
  .header .galaxy {
    height: 560px;
    width: 560px;
    position: absolute;
    top: 45%;
    margin-top: -230px; }
  .header .left {
    left: -40px; }
  .header .right {
    top: 55%;
    right: -110px; }

.edge {
  background: #fafafa;
  color: #088bc3; }
  .edge .scene-container .textbox {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .edge .scene-container .sketch-content {
    padding: 2em 7em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .edge .inner-box {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 0 1em; }
    .edge .inner-box img {
      width: 78px;
      height: 78px;
      color: #333; }
    .edge .inner-box h3 {
      margin: .4em;
      font-size: 1.5em;
      color: #333; }
    .edge .inner-box .underline {
      display: inline-block;
      background: #088bc3;
      width: 80px;
      height: 3px;
      margin: 0 0 20px; }
    .edge .inner-box p {
      font-size: 1em;
      color: #333; }

.feature {
  background: #088bc3;
  color: #fff; }
  .feature .feature-content {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
  .feature .left-text {
    position: relative;
    padding: 15px 20px;
    z-index: 99; }
  .feature .left-text h2 {
    width: 300px;
    text-align: left;
    line-height: 120%; }
  .feature .left-text p {
    width: 220px;
    line-height: 1.7;
    text-align: left; }
  .feature .right-box {
    width: 660px;
    height: 405px;
    position: absolute;
    top: 30%;
    right: 0px;
    z-index: 1; }
    .feature .right-box .imgbox {
      position: absolute; }
    .feature .right-box .level1 {
      width: 660px;
      height: 405px;
      background: url("../images/level1.png") 50% 50%/contain no-repeat;
      background-origin: content-box;
      z-index: 9;
      top: 0;
      left: 660px; }
    .feature .right-box .level2 {
      width: 660px;
      height: 405px;
      background: url("../images/level2.png") 50% 50%/contain no-repeat;
      background-origin: content-box;
      z-index: 99;
      top: -30px;
      left: 660px; }
    .feature .right-box .level3 {
      width: 660px;
      height: 405px;
      background: url("../images/level3.png") 50% 50%/contain no-repeat;
      background-origin: content-box;
      z-index: 99;
      top: -60px;
      left: 660px; }
    .feature .right-box .level4 {
      width: 660px;
      height: 405px;
      background: url("../images/level4.png") 50% 50%/contain no-repeat;
      background-origin: content-box;
      z-index: 999;
      top: -85px;
      left: 660px; }
  .feature .right-img {
    width: 70%;
    position: absolute;
    top: 40px;
    right: 0; }

.cross-platform {
  background: #fafafa;
  color: #088bc3; }
  .cross-platform .sketch-content {
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5; }
  .cross-platform .imgbox {
    height: auto; }
    .cross-platform .imgbox.ios {
      padding: 0 30px;
      background: url("../images/ios.png") 50% 50%/contain no-repeat;
      background-size: contain;
      background-position: left 50% bottom 0px;
      background-origin: content-box; }
    .cross-platform .imgbox.android {
      background: url("../images/android.png") 50% 50%/contain no-repeat;
      background-size: contain;
      background-position: left 50% bottom 0px;
      background-origin: content-box; }
    .cross-platform .imgbox.h5 {
      -webkit-flex: 1.16;
          -ms-flex: 1.16;
              flex: 1.16;
      background: url("../images/web.png") 50% 50%/contain no-repeat;
      background-position: left 50% bottom 0px;
      background-size: contain;
      background-origin: content-box; }
  .cross-platform .textbox p {
    color: #333; }

.supporting-vue {
  background: #088bc3;
  color: #fff; }
  .supporting-vue .sketch-content.imgbox {
    background: url("../images/vue.png") 50% 50%/contain no-repeat;
    background-origin: content-box;
    position: relative; }
    .supporting-vue .sketch-content.imgbox .imgbox {
      width: 100%;
      height: 104px;
      background: url("../images/vue-logo.png") 50% 50%/contain no-repeat;
      position: absolute;
      top: -50px;
      left: 0;
      right: 0; }

.schematic {
  background: #fafafa;
  color: #088bc3; }
  .schematic .textbox p {
    color: #333; }
  .schematic .sketch-content.imgbox {
    background: url("../images/flow.png") 50% 50%/contain no-repeat;
    background-origin: content-box; }

.users {
  background: #088bc3;
  color: #fff; }
  .users .sketch-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
    .users .sketch-content .user-logo {
      width: 150px;
      height: 150px;
      margin: 1px;
      overflow: hidden;
      position: relative;
      transition-duration: .3s;
      transition-property: box-shadow; }
      .users .sketch-content .user-logo h3 {
        font-size: 1em;
        margin-top: 30px;
        text-align: center;
        margin-top: 125px; }
      .users .sketch-content .user-logo:hover {
        position: relative;
        z-index: 999;
        box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.54); }
      .users .sketch-content .user-logo:hover .user-info {
        opacity: .9; }
    .users .sketch-content .tmall-logo {
      background: #23CEFD url("../images/tmall.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .aliyun-logo {
      background: #23CEFD url("../images/aliyun.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .taobao-logo {
      background: #23CEFD url("../images/taobao.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .alibaba-logo {
      background: #23CEFD url("../images/alibaba.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .cainiao-logo {
      background: #23CEFD url("../images/cainiao.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .xiami-logo {
      background: #23CEFD url("../images/xiami.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .youku-logo {
      background: #23CEFD url("../images/youku.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .ding-logo {
      background: #23CEFD url("../images/ding.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .taopiaopiao-logo {
      background: #23CEFD url("../images/taopiaopiao.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .fliggy-logo {
      background: #23CEFD url("../images/fliggy.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .juhuasuan-logo {
      background: #23CEFD url("../images/juhuasuan.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
    .users .sketch-content .qianniu-logo {
      background: #23CEFD url("../images/qianniu.png") 50% 50%/64px 64px no-repeat;
      background-origin: content-box; }
  .users .user-info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #23CEFD;
    text-align: center;
    color: #333;
    transition-duration: .4s;
    transition-property: opacity; }
    .users .user-info h4 {
      font-size: 1em;
      margin-bottom: .98em; }
    .users .user-info p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      font-size: .8em; }
  .users .more {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .users .more a {
      margin-top: 1em;
      color: #fff;
      text-decoration: underline;
      font-weight: lighter; }

.feedback {
  background: #fafafa;
  color: #088bc3; }
  .feedback .sketch-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around; }
  .feedback .user-feedback {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    margin: 0;
    text-align: center;
    color: #333;
    padding: 10px; }
    .feedback .user-feedback .avatar {
      width: 66px;
      height: 66px;
      border-radius: 100%; }
    .feedback .user-feedback .user-name {
      font-weight: bold;
      font-size: 1em;
      margin: 10px 0 0; }
    .feedback .user-feedback .user-title {
      font-size: .8em;
      margin: 5px 0 10px;
      color: #999; }
    .feedback .user-feedback .user-say {
      margin: 1em 0; }
  .feedback .scene-container .go-2-doc {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -30px; }

.back2top {
  display: none;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background: #F3C3C1;
  position: fixed;
  bottom: 180px;
  right: 10px;
  text-align: center;
  line-height: 68px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  z-index: 99; }
  .back2top:hover {
    background: #FF3E33;
    color: #fff; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.search {
  position: relative; }
  .search .search-form {
    width: 100%;
    position: relative; }
  .search .search-input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    padding: 6px 35px 6px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px 0;
    -webkit-appearance: none;
    vertical-align: middle !important; }
    .search .search-input:focus {
      border: 1px solid #088bc3;
      outline: none; }
  .search .icon-search {
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    top: 50%;
    margin-top: -13px;
    right: 15px;
    color: #999; }

.results-panel {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  right: -66px;
  top: 100%;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .results-panel .matching-post {
    border-bottom: 1px solid #ddd; }
    .results-panel .matching-post h2 {
      font-size: 17px;
      margin: 10px 0; }
    .results-panel .matching-post p {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
  .results-panel .search-keyword {
    font-style: normal;
    color: #088bc3; }

.algolia-autocomplete {
  line-height: normal; }

.aa-dropdown-menu {
  width: 100%;
  border-color: #999;
  font-size: 0.9rem;
  left: auto !important;
  right: 0px !important;
  top: 40px !important; }

@media (min-width: 768px) {
  .aa-dropdown-menu {
    min-width: 515px; } }

.algolia-docsearch-suggestion {
  border-color: #ddd; }

.algolia-docsearch-suggestion--content {
  color: #2c3e50; }

.algolia-docsearch-suggestion--subcategory-column {
  border-color: #ddd; }

.algolia-docsearch-suggestion--category-header {
  background: #088bc3; }

.algolia-docsearch-footer {
  border-color: #ddd; }

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background: rgba(255, 255, 255, 0.6); }

.algolia-docsearch-suggestion--highlight {
  color: #088bc3; }

.aa-cursor .algolia-docsearch-suggestion--content {
  color: #2c3e50; }

/*POST*/
/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.article-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0 0;
  min-height: 80%;
  min-height: calc(100% - 160px); }
  .article-wrapper.post-layout {
    max-width: 900px; }
  .article-wrapper.page-layout {
    max-width: 1200px; }
  .article-wrapper .article-entry {
    padding: 0 1.45em; }
    .article-wrapper .article-entry > h1 {
      display: none; }
  .article-wrapper .article-heading {
    margin-top: -85px;
    border-top: 85px solid transparent; }
  .article-wrapper .article-anchor {
    margin-left: 10px;
    display: none; }
  .article-wrapper .article-anchor:before {
    content: "#";
    color: #00BDFF; }
  @media print {
    .article-wrapper .article-anchor {
      display: none !important; } }
  .article-wrapper .article-heading:hover .article-anchor {
    display: inline-block;
    color: #00BDFF; }
  .article-wrapper .doc-nav {
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    width: 260px;
    padding: 40px 20px 60px 60px;
    background: #fff;
    width: 300px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto; }
  .article-wrapper .doc-nav-version {
    margin: 20px 0; }
  .article-wrapper .article-nav {
    margin: 30px 0 100px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .article-wrapper .article-nav .article-nav-link {
      display: block;
      padding: .2em 1em;
      border-radius: 5px; }
      .article-wrapper .article-nav .article-nav-link + .article-nav-link {
        margin-left: 40px; }
      .article-wrapper .article-nav .article-nav-link.enable {
        background: #088bc3;
        color: #fff; }
      .article-wrapper .article-nav .article-nav-link.disable {
        background: #ddd;
        color: #ccc; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.article-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3.5em; }
  .article-header h1 {
    font-size: 2em;
    color: #333;
    margin: 0; }
    .article-header h1 .article-title:hover {
      color: #088bc3; }
  .article-header .article-date {
    position: absolute;
    bottom: -25px;
    left: 0px;
    font-size: .9em;
    color: #999; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.article {
  max-width: 900px;
  margin: 0 0 0 300px;
  position: relative;
  line-height: 1.6;
  overflow-y: auto; }
  .article.article-type-article {
    margin-left: 0; }
  .article .article-entry {
    margin-bottom: 90px; }
  .article h2 {
    font-size: 1.75em;
    margin: 1.7em 0 .5em; }
  .article h3 {
    font-size: 1.5em;
    margin: 1.5em 0 .5em; }
  .article h4 {
    font-size: 1.25em;
    margin: 1.2em 0 .5em; }
  .article h5 {
    font-size: 1.1em;
    margin: 1.1em 0 .5em; }
  .article img[alt="mobile_preview"] {
    width: 200px; }
  .article a {
    color: #4078c0; }
    .article a:hover {
      text-decoration: underline; }
  .article .weex-version {
    display: inline-block;
    padding: .3em .8em;
    color: #fff;
    background: #23CEFD;
    border-radius: 2em;
    line-height: 1.2;
    position: absolute;
    top: 15px;
    right: 20px; }

#blog .article {
  margin-left: 0; }

#faq .article {
  margin-left: 0; }

#releasenote .article {
  margin-left: 0; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.summary {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .summary ul, .summary li, .summary ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .summary a.current {
    border: none;
    color: #088bc3; }
  .summary a:hover {
    color: #088bc3; }
  .summary h2.part-title {
    color: #088bc3;
    font-size: 1.2em;
    font-weight: 600; }
  .summary h3.chapter-title {
    font-size: 1.1em; }
  .summary ul.chapter {
    margin-left: 15px; }
    .summary ul.chapter li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 15px; }

.lang-en .summary h3.chapter-title {
  font-weight: 600; }

.hostbyaliyun {
  width: 180px;
  z-index: 99;
  display: none; }

/*BLOG*/
/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.blog-wrapper {
  position: relative;
  width: 100%;
  margin: 120px auto 90px;
  max-width: 900px;
  min-height: 100%; }
  .blog-wrapper .article-excerpt.article {
    margin: 0; }
  .blog-wrapper .article-excerpt > h1 {
    display: none; }
  .blog-wrapper .article-excerpt .weex-version {
    display: none; }
  .blog-wrapper .blog-article-inner {
    padding: 0 1.45em;
    margin-bottom: 50px; }
    .blog-wrapper .blog-article-inner a {
      line-height: 120%; }
  .blog-wrapper .more-link {
    display: block;
    color: #999; }
    .blog-wrapper .more-link:hover {
      color: #777; }

/*PLAYGROUND*/
/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#playground {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.playground-wrapper {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px; }
  .playground-wrapper .left {
    width: 320px;
    padding: 20px;
    float: left; }
  .playground-wrapper .qr-code {
    float: left;
    width: 120px; }
  .playground-wrapper .download {
    margin: 30px 0; }
  .playground-wrapper .links {
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 10px; }
    .playground-wrapper .links .link {
      display: inline-block;
      text-align: center;
      width: 130px;
      height: 30px;
      line-height: 30px;
      border: 1px solid currentColor;
      border-radius: 20px; }
    .playground-wrapper .links #android-link {
      margin-top: 40px; }

/*EXAMPLE*/
.example-wrapper {
  width: 1120px;
  margin: 100px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .example-wrapper .horizontal {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px;
    position: relative;
    max-width: 620px;
    height: 600px; }
  .example-wrapper .highlight {
    height: 580px;
    overflow-y: auto; }
  .example-wrapper .phone {
    -webkit-flex: 0 0 300px;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px; }
  .example-wrapper .mock-phone {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    z-index: 25;
    width: 297px;
    height: 590px;
    border: 2px solid #0088fb;
    border-radius: 30px; }
  .example-wrapper .camera {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background: #afddff;
    border: 1px solid #0088fb;
    top: 23px;
    left: 94px; }
  .example-wrapper .earpiece {
    position: absolute;
    width: 70px;
    height: 8px;
    border-radius: 8px;
    background: #afddff;
    border: 1px solid #0088fb;
    top: 26px;
    left: 124px; }
  .example-wrapper .home-btn {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background: #afddff;
    border: 1px solid #0088fb;
    bottom: 14px;
    left: 50%;
    margin-left: -28px; }
  .example-wrapper .inner {
    position: absolute;
    top: 60px;
    z-index: 26;
    left: 12px;
    width: 267px;
    height: 441px;
    overflow: hidden;
    border: 1px solid #0088fb; }
  .example-wrapper iframe {
    margin: 0;
    width: 750px;
    height: 1248px;
    background: #fff;
    -webkit-transform: scaleY(0.35333);
        -ms-transform: scaleY(0.35333);
            transform: scaleY(0.35333);
    -webkit-transform: scale(0.35333, 0.35333);
        -ms-transform: scale(0.35333, 0.35333);
            transform: scale(0.35333, 0.35333);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left; }
  .example-wrapper .qrcode {
    -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px; }
    .example-wrapper .qrcode p {
      text-align: center;
      margin: 1em 0; }
  .example-wrapper #qrcode-img {
    padding: 0;
    width: 150px;
    height: 150px; }

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34; }

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75; }

.hljs-literal {
  color: #56b6c2; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
@media screen and (max-width: 900px) {
  /***********************************************
   * Global
   **********************************************/
  body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 14px; }
  #header .navbar {
    display: none !important; }
  #header #mobile-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #sidebar {
    display: block !important;
    -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
            transform: translateX(-320px);
    transition: all .3s ease; }
    #sidebar.open {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  #footer {
    padding: 0 20px; }
    #footer .select-lang {
      display: block; }
  /***********************************************
   * Index
   **********************************************/
  .header .galaxy {
    display: none; }
  .edge .scene-container .textbox {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .edge .scene-container .inner-box:nth-child(3) {
    -webkit-flex: 0 0 240px;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px; }
  .edge .scene-container .sketch-content {
    /*flex-direction: column; 
      align-items: center;*/ }
  .horizon .sketch-content {
    padding: 0 5em; }
  .horizon .sketch-content .inner-box {
    padding: 0 2em; }
  .users .scene-container .textbox {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .feedback .sketch-content {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
  .feedback .scene-container .textbox {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  /***********************************************
   * Post
   **********************************************/
  .article-wrapper .doc-nav {
    display: none; }
  .article-wrapper .article {
    margin-left: 0; } }

@media screen and (max-width: 700px) {
  /***********************************************
   * Index
   **********************************************/
  .edge .scene-container .textbox {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .edge .scene-container .sketch-content {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .scene.overlength {
    height: auto;
    min-height: 100%;
    min-height: calc(100% - 72px); }
  .horizon .textbox {
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4; }
  .horizon .sketch-content {
    padding: 0 1em; }
  .horizon .sketch-content .inner-box {
    padding: 0 1em; }
  .horizon .textbox p {
    width: 100%; }
  .header .slide-content .page-title {
    width: 320px;
    margin-left: -160px; }
  .header .slide-content .btn-group {
    bottom: 10%; }
  .feature .right-box {
    width: 500px;
    height: 245.45px;
    top: 50%;
    right: -65px; }
    .feature .right-box .level1, .feature .right-box .level2, .feature .right-box .level3, .feature .right-box .level4 {
      width: 500px;
      height: 245.45px; }
  .cross-platform .sketch-content {
    height: 200px; }
  .supporting-vue .sketch-content.imgbox .imgbox {
    background-size: 80px; }
  .users .sketch-content .user-logo {
    width: 140px;
    height: 140px;
    background-size: 45px; }
  .users .sketch-content .user-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .users .sketch-content .user-logo h3 {
    margin-top: 110px; }
  .feedback .user-feedback {
    /*flex: 1 0 140px;*/ }
  .feedback .scene-container .go-2-doc {
    margin-top: 0; } }
